/* pheix presentation */

img {
    border: none !important;
}

tt {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 20pt !important;
    color: #555;
}

.pheix-abs { position: absolute; }
.pheix-ib { display: inline-block; }
.pheix-width-100 { width: 100%; }
.pheix-width-80 { width: 80%; }
.pheix-width-70 { width: 70%; }
.pheix-width-30 { width: 30%; }
.pheix-bold { font-weight: bold !important; }
.pheix-text-align-right { text-align: right; }
.pheix-text-align-left { text-align: left; }
.pheix-text-align-center { text-align: center; }
.pheix-no-shadow { box-shadow: none !important; }
.pheix-no-bg { background: none !important; }

.pheix-maxheight-slide-img { height: 520px; }
.pheix-mediumheight-slide-img { height: 320px; }
.pheix-lowmedheight-slide-img { height: 250px; }

.pheix-padding { padding: 20px !important; }
.pheix-margin-bottom-30 { margin-bottom: 30px !important; }

.pheix-code-select {
    display: inline-block;
    padding: 0px 10px !important;
    margin-bottom: 2px !important;
    background-color: rgba(0, 0, 0, 0.7);
}

.pheix-code-func, .hljs-title {
    color: #ded340;
    font-weight: bold !important;
}

.pheix-code-type { color: #5dfc4e; }
.pheix-code-var { color: #ed6c58; }
.pheix-code-obj, .hljs-keyword { color: #ea5cfa !important; }

.pheix-inline-block-w50 {
    display: inline-block;
    width: 50%;
}

.pheix-inline-block-w33 {
    display: inline-block;
    width: 33%;
}

.pheix-abs-block-txt {
    position: absolute !important;
    font-size: 18pt !important;
    font-weight: bold !important;
    text-align: center !important;
    padding: 10px !important;
    width: 330px;
}

A.pheix-author-link,
A.pheix-author-link:visited {
    color: #02376d;
}

A.pheix-author-link:hover,
A.pheix-author-link:focus {
    color: #2a76dd;
}

.pheix-presentation-bg {
    background: none;
}

.pheix-presentation-v-slides {
    height: 100% !important;
}

.pheix-presentation-container::after {
    content: "";
    background-image: url('../img/slides/tpc20/bgs/bg02.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    z-index: -1;
}

.pheix-presentation-slide {
    background: none !important;
    width: 100%;
    height: calc( 100% - 60px) !important;
    top: 10px !important;
}

.pheix-presentation-slide-tpc20 {
    background-image: url('../img/slides/tpc20/bgs/bg01.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    width: 100%;
    height: calc( 100% - 60px);
}

.pheix-presentation-slide-tpc20-text {
    padding: 20px 20px !important;
    background-color: rgba(0, 0, 0, .7);
    position: relative !important;
    top: 0px;
    font-size: 26pt !important;
    font-weight: bold !important;
    color: #fff !important;
}


.pheix-presentation-slide-tpc20-author-container {
    display: table;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none !important;
}

.pheix-presentation-slide-tpc20-author {
    display: table-cell;
    vertical-align: bottom !important;
    text-align: right;
    font-size: 16pt !important;
    line-height: 2em !important;
    border-bottom: 1px dashed #444 !important;
    color: #444;
    background: none !important;
}

.pheix-presentation-slide-tpc20-author SPAN {
    color: #777;
}

.pheix-presentation-slide-bg-1 {
    background-color: rgba(0, 0, 0, .6);
}

.pheix-presentation-slide-header {
    display: block;
    position: absolute !important;
    left: 0px;
    top: 0px;
    padding: 20px 20px !important;
    text-align: center;
    font-size: 22pt !important;
    font-weight: bold !important;
    line-height: 1em !important;
    color: #fff;
    width: calc(100% - 40px);
}

.pheix-presentation-slide-body-container {
    display: table !important;
    vertical-align: middle !important;
    top: 80px;
    height: calc(100% - 80px);
    text-align: left;
    font-size: 20pt !important;
    position: relative !important;
    background-color: rgba(255, 255, 255, .8);
    padding: 0px 50px !important;
    width: calc(100% - 100px) !important;
}

.pheix-presentation-slide-body {
    display: table-cell !important;
    vertical-align: middle !important;
}

.pheix-presentation-bigger-font {
    font-size: 26pt;
}

.pheix-s18-block-txt-1 {
    top:123px;
    left: 100px;
    background-color: rgba(255,0,0,0.3);
    color: #222 !important;
}

.pheix-s18-block-txt-2 {
    top:203px;
    left: 75px;
    background-color: rgba(0,255,0,0.3);
    color: #222 !important;
}

.pheix-s18-block-txt-3 {
    top:290px;
    left: 50px;
    background-color: rgba(0,0,255,0.3);
    color: #222 !important;
}

.pheix-s18-block-txt-4 {
    top:373px;
    left: 25px;
    background-color: rgba(0,0,0,0.3);
    color: #222 !important;
}

.pheix-block-reset-top-left {
    top: 0px !important;
    left: 0px !important;
}

.pheix-s20-height { height:410px; }
.pheix-s20-p { font-size: 19pt !important; }

.pheix-hybrid-b-1 { position: relative; top: 295px; color: #fff; }
.pheix-hybrid-b-2 { position: relative; top: 90px; color: #222; width: 150px; font-size: 17pt !important; }
.pheix-hybrid-b-3 { position: relative; top: 360px; left: 135px; color: #222; width: 150px; font-size: 17pt !important; }
.pheix-hybrid-b-4 { position: relative; top: 360px; left: -135px; color: #222; width: 150px; font-size: 17pt !important; }

.pheix-slogan {
    position: relative;
    top: 213px;
    left: 0px;
    z-index: 10;
    padding: 5px !important;
    color: #000;
    font-size: 20pt !important;
}

.pheix-roadmap-b-1  { position: relative; top: 396px; left: -93px; color: #222; width: 300px; font-size: 12pt !important; }
.pheix-roadmap-b-2  { position: relative; top: 290px; left: 30px; color: #222; width: 300px; font-size: 12pt !important; }
.pheix-roadmap-b-2d { position: relative; top: 290px; left: 250px; color: #222; width: 300px; font-size: 12pt !important; }
.pheix-roadmap-b-3  { position: relative; top: 290px; left: -232px; color: #222; width: 300px; font-size: 12pt !important; }

.pheix-webdev-mark-1 {
    position: relative;
    top: 147px;
    left: -147px;
    width: 120px;
    height: 39px;
    background-color: rgba(255, 0, 0, 0.4);
}

.pheix-webdev-mark-2 {
    position: relative;
    top: 391px;
    left: -209px;
    width: 145px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.4);
}

.pheix-webdev-mark-3 {
    position: relative;
    top: 423px;
    left: -209px;
    width: 145px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.4);
}

.pheix-donate {
    margin-top: 60px !important;
    text-align: center;
    font-weight: bold !important;
    padding: 10px !important;
    background-color: rgba(0, 255, 0, 0.3);
}

.pheix-theend-text { text-align: center; font-size: 13pt !important; margin-top: 30px !important; }
